div.greyGridTable {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #FFFFFF;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    overflow: hidden
  }
  .divTable.greyGridTable .divTableCell, .divTable.greyGridTable .divTableHead {
    border: 1px solid #FFFFFF;
    padding: 3px 4px;
    
  }
  .divTable.greyGridTable .divTableBody .divTableCell {
    font-size: 13px;
  }
  .divTable.greyGridTable .divTableCell:nth-child(even) {
    background: #EBEBEB;
  }
  .greyGridTable .tableFootStyle {
    font-size: 14px;
  }
  /* DivTable.com */
  .divTable{ display: table; }
  .divTableRow { display: table-row; }
  .divTableHeading { display: table-header-group;}
  .divTableCell, .divTableHead { display: table-cell;}
  .divTableHeading { display: table-header-group;}
  .divTableFoot { display: table-footer-group;}
  .divTableBody { display: table-row-group;}
  .divUri {width: 60%}
  .divCopy {width: 5%}
  .divDate {width: 20%}
  .divRequest {width: 10%}
  .divRemove {width: 5%}